
*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}
 
 nav{
    padding: 0% 18.5%;
    display:flex;
  /*      justify-content:;        bach ykoun wa7d espace bin l abna2*/
}
 .nav-links{
    flex: 1; /* bach yakhod lblasa li khla lih bah */
    display: flex; /* bach yrja3 ab*/
    align-items:end; /* bach kamlin ywliw f nfs niveau*/
     justify-content:left;
}

 nav ul{
    display: flex;
    list-style: none ; /* bach mayb9awch douk no9at dyal ul*/
    margin: auto;


}
 nav ul li {
    margin: 0 5px ;   /* hada l dik l masafa li bin kola ktma*/
} nav ul li a {
    text-decoration: none; /* bach y7ayd dak l lkhat li kaykoun ta7t lien*/
    font-size: 0px;
    text-transform: uppercase;
    transition: 0.5s;
}



 