header{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;

}
/**/
div.contactez-nous{
    margin-left: 15%;
}
.logo{
    width: 100%;
}
div.nav a{
    color: grey;
    text-decoration: none;
    margin-right: 1em; 
}
div.nav a:hover{
    color: #6655b1;
    font-weight: bold;
}
h1{
    font-family: 'Abril Fatface';
    color: #d05270;
    font-size: 2.5em;
}
.rose{
    color: #d05270;
    font-size: 2em;
}
body{
font-family: 'Montserrat';
font-size: 1em;
}

div.contReseau{
    display: flex;
    margin-left: 15%;
    flex-flow: row;
    gap: 6em;
    width: 70%;
    height: 300px;
}


form {
    width:70% ; 
    margin: auto;}

/*partie reseau*/
div.contReseau{
    display: flex;
    margin-left: 15%;
    flex-flow: row;
    gap: 6em;
    width: 70%;
    height: 300px;
    margin-top: 4em;
    margin-bottom: 10em;
}
.underline {
    text-decoration: none;
}
div.reseau{
    display: flex;
    margin-top: 3em;
    gap: 1.5em;
}
div.reseau div{
    flex: 1;
    color: white;
    font-size: 1em;
    height: 65px;
    display: flex;
    align-items: center;
}
div.reseau a{
    text-decoration: none;
    flex: 1;
}
div.reseau .twitter{
    background-color: #03a9f4;
    padding-right: 50px;
}
div.reseau .linkedin{
    background-color: #0077b5;
    padding-right: 50px;
}
div.reseau .medium{
    background-color: black;
    padding-right: 50px;
}

div.reseau img{
    width: 40px;
    margin-left: 4em;
    margin-bottom: 0.1em;
}
div.reseau div span{
    margin-left: 2em;
}
.image{
    width: 100%;
}
    