
*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box; /* bach maybrch l7ajm dyal lktaba*/
    color: #000000;
    font-family:'oswald', sans-serif;  /* bach nmdl chkl dyal lktaba*/
}
 /*.containair{
   
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh; /* bach tswira li fl backr takhod chacha kamla*/
   /* display: flex;
    flex-direction: column;
    overflow: hidden; /*ay 7aja makaynach fl containair ghadi tkhba 
}  */

nav {

     margin-left: 30px;
     
}
header nav{
   
    display:flex;
    justify-content: center;
  /*      justify-content:;        bach ykoun wa7d espace bin l abna2*/
}
header .nav-links{
    flex: 1; 
    display: flex;
    flex-direction: row ;  
   
}

header nav ul{
    display: flex;
    list-style: none ; /* bach mayb9awch douk no9at dyal ul*/
    align-items: center;

}
header nav ul li {
    margin: 0 5px ;   /* hada l dik l masafa li bin kola ktma*/
}
header nav ul li a {
    text-decoration: none; /* bach y7ayd dak l lkhat li kaykoun ta7t lien*/
    font-size: 0px;
    text-transform: uppercase;
    transition: 0.5s;
}



header nav ul li a:hover{
    color: orange; /* hadi bach ybda ybdl loun*/
}
header nav ul li a::after{
    content:"" ;
    display: block;
    height: 2px;             /* hada l dak lkhat li lta7t*/
    width: 0%;
  background-color: orange;  
   transition: 0.5s;
}

header nav ul li a:hover::after{
width: 100%;
}
 
 
header p{
    font-size: 12px;
    color: gray;
 }
header .nav-links  {
    margin: 0 710px ;  /* lmasafa bin logo w lktaba*/
 }

header h1 {
    width: 600px;
    color:#d05270 ;
    padding:60px 50px 10px 10px;
    margin: 0px 50px 0px 370px ;
   font-size: 37px ;
 }
header h2 {
    width:265px ;
    padding:0px 0px 20px 10px ;
    margin: 0px 0px 0px 370px;
   font-size: 40px ;
 }
header .lorem {
    padding: 0px 0px 20px 30px;
    margin: 0px 0px 0px 332px;
   font-size: 15px ;
 }
header .bloc1{
    width: 60%;
 }
 /* header i{
   display: flex;
    padding:15px  60px;
    background-color: rgb(45, 167, 255);
 } */
header .twitter{
    padding: 10px;
   
  
 }
header .bas{
    display: flex;
    
}
header .img{
    justify-self:right;
    margin: 0px 400px 10px 0px;
}
.imgh{
    margin: 0px 0px 0px 100px;
    height: 350px;
}
.logo{
height: 100px;
width: 100px;
margin: 0;
}
.ph{
    height: 50px;
    width: 940px;
}