@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* font-family: 'Abril Fatface', cursive; */
/* font-family: 'Montserrat', sans-serif; */
* {
    text-decoration: none;

}

/* supprime le visuel des h1 et h2 pour W3C  */


img {
    width: 100%;
    height: auto;
}


.main_grid {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 50px 15px;
}

.frist_article {

    grid-column: 2;
    grid-row: 1;
}

.second_article {
    /* background-color: bisque; */
    grid-column: 3;
    grid-row: 1;
}

.Third_article {
    /* background-color: black; */
    grid-column: 2;
    grid-row: 2;
}

.Fourth_article {
    /* background-color: violet; */
    grid-column: 3;
    grid-row: 2;
}

.Fifth_article {
    /* background-color: red; */
    grid-column: 2;
    grid-row: 3;
}

.sixth_article {
    /* background-color: orange; */
    grid-column: 3;
    grid-row: 3;
}

footer {

    height: 200px;

}

main h3 {
    font-family: 'Montserrat', sans-serif;
    color: #d15270;
    font-size: 1.2em;

}

/* soulignement de 75%   */
.souligne {
    background-image: linear-gradient(to right, #d15270 75%, transparent 50%);
    background-position: 0 110%;
    background-size: 100% 2px;
    background-repeat: no-repeat;
}

main a {
    color: #d15270;
    font-family:'Montserrat', sans-serif;
    font-size: 0.9em;
}

main p.paragraphe {
    font-size: 0.9em;
    font-family: 'Montserrat', sans-serif;
}

main p.date {
    font-weight: bold;
    font-size: 0.8em;
    font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 390px) {
    
    main{
        display: flex;
        flex-wrap: wrap;
    }
    img{
        display: none;
    }
    
}
