*{ 
    list-style: none;
    text-decoration: none;
}
header{
    height: 100px;
}
.head_grid{
    height: 100px;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
    grid-template-rows: 1fr 1fr;

}
.logo{
    width: 100%;
    height: auto;
    grid-column: 2;
    grid-row: 1;
}
ul{
    height: 100px;
    grid-column: 3;
    grid-row: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
